<h1>Search for Flights</h1>

<%= form_with method: :get do |f| %>
  <div>
    <%= f.label :departure_airport_id, "Departure Airport" %>
    <%= f.select :departure_airport_id, options_for_select(@departure_options) %>
  </div>
  <div>
    <%= f.label :arrival_airport_id, "Arrival Airport" %>
    <%= f.select :arrival_airport_id, options_for_select(@arrival_options) %>
  </div>
  <div>
    <%= f.label :travellers %>
    <%= f.select :travellers, [1, 2, 3, 4] %>
  </div>
  <div>
    <%= f.label :date %>
    <%= f.select :month, options_for_select(@months) %>
    <%= f.select :day, options_for_select(@days) %>
    <%= f.select :year, options_for_select(@years) %>
  </div>
  <div>
    <%= f.submit "Search flights" %>
  </div>
<% end %>