<h1>Search for Flights</h1>

<%= form_with url: '/flights', method: :get do |f| %>
  <div>
    <%= f.label 'search[departure_airport_id]', "From" %>
    <%= f.select 'search[departure_airport_id]', options_for_select(@departure_options, @depart_id) %>
  </div>
  <div>
    <%= f.label 'search[arrival_airport_id]', "To" %>
    <%= f.select 'search[arrival_airport_id]', options_for_select(@arrival_options, @arrival_id) %>
  </div>
  <div>
    <%= f.label 'search[travellers]', 'Travellers' %>
    <%= f.select 'search[travellers]', [1, 2, 3, 4], selected: @travellers %>
  </div>
  <div>
    <%= f.label :date %>
    <%= f.select 'search[month]', options_for_select(@months, @month) %>
    <%= f.select 'search[day]', options_for_select(@days, @day) %>
    <%= f.select 'search[year]', options_for_select(@years, @year) %>
  </div>
  <br>
  <div>
    <%= f.submit "Search" %>
  </div>
<% end %>

<h2>Search Results</h2>
<% if @matched_flights %>
  <% if @matched_flights.any? %>
    <%= form_with url: 'bookings/new', method: :get do |form| %>
      <%= form.hidden_field :travellers, value: @travellers %>
      <% @matched_flights.each do |flight| %>
        <%= form.radio_button :flight_id, flight.id %>
        <%= form.label :flight_id, "Flight ##{flight.id} at #{flight.time.strftime("%I:%M %p")}", value: flight.id %>
      <% end %>
      <br>
      <br>
      <%= form.submit "Book flight", style: "display: block" %>
    <% end %>
  <% else %>
    <p>No flights found.</p>
  <% end %>
<% end %>
