<h1>Search for Flights</h1>

<%= form_with url: '/flights', method: :get do |f| %>
  <div>
    <%= f.label :departure_airport_id, "From" %>
    <%= f.select :departure_airport_id, options_for_select(@departure_options), selected: @depart_id %>
  </div>
  <div>
    <%= f.label :arrival_airport_id, "To" %>
    <%= f.select :arrival_airport_id, options_for_select(@arrival_options), selected: @arrival_id %>
  </div>
  <div>
    <%= f.label :travellers %>
    <%= f.select :travellers, [1, 2, 3, 4] %>
  </div>
  <div>
    <%= f.label :date %>
    <%= f.select :month, options_for_select(@months) %>
    <%= f.select :day, options_for_select(@days) %>
    <%= f.select :year, options_for_select(@years) %>
  </div>
  <br>
  <div>
    <%= f.submit "Search" %>
  </div>
<% end %>

<h2>Search Results</h2>
<% if @matched_flights %>
  <% if @matched_flights.any? %>
    <%= form_with url: 'bookings/new', method: :get do |form| %>
      <%= form.hidden_field :travellers, value: @travellers %>
      <% @matched_flights.each do |flight| %>
        <%= form.radio_button :flight_id, flight.id %>
        <%= form.label :flight_id, "Flight ##{flight.id} from #{@depart_code} to #{@arrival_code}", value: flight.id %>
      <% end %>
      <br>
      <br>
      <%= form.submit "Book flight", style: "display: block" %>
    <% end %>
  <% else %>
    <p>No flights found.</p>
  <% end %>
<% end %>
